body {
    background-color: #1e1e1e!important;
}
.form-label {
    color: white!important;
}
#textAreaChats {
    color: #f6f2f196!important;
}
textarea {
    resize: none!important;
    height: 13.5rem!important;
}
.form-outline .form-control.disabled, .form-outline .form-control:disabled, .form-outline .form-control[readonly] {
    background-color: #e9ecef14!important;
}
#search-loading {
    margin-top: 3px!important;
}

.chats-count {
    font-size: 15px!important;
}

.disable-options {
    pointer-events: none;
    opacity: 0.5;
}